/* inverse la couleur des .svg */
.invert-color{
  filter: invert(100%);
}

/* transition fluide lors de changement de tailles
et autres propriétés pour les éléments de cette classe */
.animable {
  transition-duration: .4s;
}

body {
  padding:0;
  margin:0;
  font-family: Arial;
}

/*----------------------------------------------------*/
/*-------------------- DEBUT MENU --------------------*/
/*----------------------------------------------------*/

header {
  margin: 0;
  padding: 0;
  position: sticky;
  top: 0;
  left: 0;
  width:100%;
  height: 4.2rem;
  background-color: rgba(25,25,25,0.95);
  color: #DDD;
  font-family: Arial;
  font-size: 1rem;
  font-weight: bold;
  z-index: 2;
}

header > nav{
  height:100%;
  /* background-image: linear-gradient(rgba(25,25,25,0.95) 80%, rgba(37,37,37,0) 100%); */
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height:100%;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header ul li {
  display:flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow:hidden;
  /* border: 1px solid red; */
}

/* dans le but de créer un bouton menu lorsque l'écran est plus petit */
#menu-menu {
  display:none;
}

/* taille de l'icon */
#menu-accueil img {
  display:block;
  max-width:100%;
  height:2.1rem;
}

#menu-panier img {
  height:2.5rem;
}

/*----taille des éléments du menu (total = 100%)----*/

#menu-accueil, #menu-qui {
  min-width:15%;
}

#menu-details {
  min-width:20%;
}

#menu-recherche {
  min-width:40%;
}

#menu-panier {
  min-width:10%;
}

/*----fin taille éléments menu----*/

header ul li a {
  display: flex;
  align-items: center;
  color: inherit;
  text-align: center;
  text-decoration: none;
  /* border: 1px solid red; */
}

header ul li a:hover {
  color:#FFFFFF;
  text-shadow: 0px 0px 4px rgba(225,225,225,0.4);
}

.active{
  text-decoration: underline;
  text-decoration-color: rgb(255,40,40);
}

#menu-recherche form {
  display:flex;
  margin-left: 20%;
  width:80%;
}

#menu-recherche form input{
  border: none;
  padding: 6px 6px;
  font-size: 1rem;
  display:block;
  width:80%;
}

#menu-recherche form button{
  border: none;
  cursor: pointer;
  display: block;
  width:20%;
  padding:0;
  background-color: #D3D3D3;
}

#menu-recherche form button:hover{
  background-color: #AAA;
}

#menu-recherche form button img{
  width:100%;
  max-width:1.8rem;
  margin:0;
}

/*--------------------------------------------------*/
/*-------------------- FIN MENU --------------------*/
/*--------------------------------------------------*/



/* Effet carousel basé sur: https://la-cascade.io/un-carrousel-responsif-en-pur-css/ */
@keyframes slidy {
  0% { left: 0%; }
  23% { left: 0%; }
  25% { left: -100%; }
  48% { left: -100%; }
  50% { left: -200%; }
  73% { left: -200%; }
  75% { left: -300%; }
  99% { left: -300%; }
}

main {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: auto;
  color: #DDD;
  min-height: 100vh;
  margin-top: -4.2rem;
  padding-top: 4.2rem;
  background-color: rgb(37,37,37);
  text-align: left;
}

section {
  display: grid;
  grid-template-columns: auto;
  margin: 0 auto;
}

#news {
  overflow: hidden;
  width:60%;
  max-width: 1000px;
}

#news figure img {
  width: 25%;
  float: left;
}

#news figure {
  position: relative;
  width: 400%;
  margin: 0;
  left: 0;
  font-size: 0;
  text-align: left;
  animation: 20s slidy infinite;
}


#films {
  max-width: 80%;
}

#films ul {
  width:100%;
  min-width: 350px;
  display: grid;
  grid-template-columns: auto;
  padding: 0;
}

#films ul li {
  display: block;
  width: 100%;
  min-width: 370px;
  max-height: 250px;
  height:25vh;
  margin-bottom: 15px;
  background-color: rgb(22,22,22);
}

#films ul li article {
  display: grid;
  grid-template-columns: 20% auto 20%;
  min-width: 370px;
  height:100%;
  overflow:hidden;
  align-items: center;
}

.film-affiche {
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}

.film-description {
  text-align: justify;
  max-height: 100%;
  padding: 10px;
  margin: 0 auto;
  overflow:hidden;
  display:block;
}

.film-description h1 {
  display:inline-block;
  margin: 0;
  padding-top: 5px;
}

.film-description a {
  color: rgb(255,15,15);
  float:right;
  margin: 0;
  padding-top: 5px;
  text-decoration: underline;
}

.film-prix {
  margin: 0 auto;
  text-align: center;
  overflow:hidden;
  min-width: 80%;
  height:100%;
}

.prix, .prix-promo {
  font-weight: bold;
}

.prix-promo {
  display:none;
}

p.prix {
  font-size: 1.8rem;
  padding-top:10px;
  margin: auto;
}

.en-promo p.prix {
  font-size: 1.2rem;
  padding:0;
  margin: auto;
  text-decoration: line-through;
}

.en-promo p.prix-promo {
  display: block;
  margin: 5px auto;
  font-size: 2rem;
  color: rgb(255,10,10);
  text-shadow: 0px 0px 3px black;
}

.bloc-prix {
  display:block;
  height:80%;
  padding-top: 20%;
}

.film-prix button {
  border: none;
  color: #DDD;
  text-shadow: 1px 1px 2px black;
  cursor: pointer;
  width:100%;
  height: 2rem;
  position: relative;
  top:0;
  font-size:0.9rem;
  transform: translate(0, -160%);
  background-color: rgb(255,15,15);
}

main > h1 {
  width: 80%;
  margin: 20px auto 0 auto;
  border: 1px solid red;
  padding-bottom: 0;
}

main > h1 ~ section {
  width: 80%;
  margin: 0 auto 20px auto;
  border: 1px solid red;
}



/*----------------------------------------------------*/
/*------------------- DEBUT FOOTER -------------------*/
/*----------------------------------------------------*/

footer {
  color: #DDD;
  max-width:100%;
  margin:0;
  background-color: rgb(22,22,22);
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

footer h1 {
  font-size: 1.2rem;
  margin: 0;
  padding-top: 10px;
}

footer address {
  width:60%;
  display:grid;
  grid-template-columns: 70% 30%;
  align-items: center;
  margin-bottom: 10px;
}

footer section{
  width: 100%;
}

footer p {
  font-size: .8rem;
  margin: 0;
  padding-top: 10px;
  align-items: stretch;
}

footer p img {
  display:inline-block;
  height: 1.6em;
  margin-right: 5px;
  margin-bottom:-.3em;
}

#copyright {
  display:block;
  width:100%;
  text-align: center;
  margin-bottom: 5px;
  color: #999;
  font-size: .8rem;
}

/*----------------------------------------------------*/
/*-------------------- FIN FOOTER --------------------*/
/*----------------------------------------------------*/



/***************** Screen width modif ****************/

@media screen and (max-width: 1000px) {

  header {
    font-size:0.95em;
    height: 4rem;
  }

  /* taille de l'icon */
  #menu-accueil img {
    height:2rem;
  }
  #menu-panier img {
    height:2.4rem;
  }

  #menu-recherche {
    min-width:30%;
  }

  #menu-recherche form {
    margin-left: 0;
    width:100%;
  }

  #menu-recherche form input{
    font-size: 0.9rem;
  }

  #films ul li {
    max-height:180px;
  }

  .film-prix button {
    font-size:0.8rem;
  }

  .film-description p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 800px) {

  header {
    font-size:0.85em;
  }

  #films ul li {
    max-height:160px;
  }

}

@media screen and (max-width: 700px) {

  header {
    font-size:1em;
    height: 11rem;
  }

  header > nav{
    height:90%;
    background-image: linear-gradient(rgba(25,25,25,0.95) 95%, rgba(37,37,37,0) 100%);
  }

  header ul {
    flex-wrap:wrap;
  }

  header ul li {
    width: 100%;
  }

  /* taille de l'icon */
  #menu-accueil img, #menu-panier img {
    height:2rem;
  }

  #menu-recherche {
    width: 85%;
  }

  #menu-panier {
    position: fixed;
    top:5px;
    right:0;
    width: 15%;
  }

  #films ul li article {
    grid-template-columns: 30% 40% 30%;
  }

  .film-description {
    text-align: center;
  }

  .film-description p {
    display: none;
  }

  .film-description h1 {
    display: block;
    margin: 10px 0;
  }

  .film-description a {
    float: none;
  }

  footer address {
    width:70%;
  }
}
