/* inverse la couleur des .svg */
.invert-color{
  filter: invert(100%);
}

/* transition fluide lors de changement de tailles
et autres propriétés pour les éléments de cette classe */
.animable {
  transition-duration: .4s;
}

body {
  padding:0;
  margin:0;
  font-family: Arial;
}

/*----------------------------------------------------*/
/*-------------------- DEBUT MENU --------------------*/
/*----------------------------------------------------*/

header {
  margin: 0;
  padding: 0;
  position: sticky;
  top: 0;
  left: 0;
  width:100%;
  height: 4.2rem;
  background-color: rgba(25,25,25,0.95);
  color: #DDD;
  font-family: Arial;
  font-size: 1rem;
  font-weight: bold;
  z-index: 2;
}

header > nav{
  height:100%;
  /* background-image: linear-gradient(rgba(25,25,25,0.95) 80%, rgba(37,37,37,0) 100%); */
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height:100%;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header ul li {
  display:flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow:hidden;
  padding: 5px 0;
  /* border: 1px solid red; */
}

/* taille de l'icon */
#menu-logo img {
  display:block;
  max-width:100%;
  height:2.1rem;
}

#menu-panier img {
  height:2.5rem;
}

/*----taille des éléments du menu (total = 100%)----*/

/* #menu-qui, #menu-details, #menu-accueil {
  min-width:15%;
} */

#menu-recherche {
  min-width:32%;
}

#menu-logo {
  min-width:10%;
}

#menu-panier {
  min-width:8%;
}

/*----fin taille éléments menu----*/

header ul li a {
  display: flex;
  align-items: center;
  color: inherit;
  text-align: center;
  text-decoration: none;
  /* border: 1px solid red; */
}

header ul li a:hover {
  color:#FFFFFF;
  text-shadow: 0px 0px 4px rgba(225,225,225,0.4);
}

.active{
  text-decoration: underline;
  text-decoration-color: rgb(255,40,40);
}

#menu-recherche form {
  display:flex;
  margin-left: 20%;
  width:80%;
}

#menu-recherche form input{
  border: none;
  padding: 6px 6px;
  font-size: .9rem;
  display:block;
  width:80%;
}

#menu-recherche form button{
  border: none;
  cursor: pointer;
  display: block;
  width:20%;
  padding:0;
  background-color: #D3D3D3;
}

#menu-recherche form button:hover{
  background-color: #AAA;
}

#menu-recherche form button img{
  width:100%;
  max-width:1.7rem;
  margin:0;
}

/*--------------------------------------------------*/
/*-------------------- FIN MENU --------------------*/
/*--------------------------------------------------*/



/* Effet carousel basé sur: https://la-cascade.io/un-carrousel-responsif-en-pur-css/ */
@keyframes slidy {
  0% { left: 0%; }
  23% { left: 0%; }
  25% { left: -100%; }
  48% { left: -100%; }
  50% { left: -200%; }
  73% { left: -200%; }
  75% { left: -300%; }
  99% { left: -300%; }
}

main {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: auto;
  align-content: start;
  color: #DDD;
  min-height: 100vh;
  margin-top: -4.2rem;
  padding-top: 4.2rem;
  background-color: rgb(37,37,37);
  text-align: left;
}

section {
  display: grid;
  grid-template-columns: auto;
  margin: 0 auto;
}

#news {
  overflow: hidden;
  width:60%;
  max-width: 1000px;
  margin-bottom: 1rem;
}

#news figure img {
  width: 25%;
  float: left;
}

#news figure {
  position: relative;
  width: 400%;
  margin: 0;
  left: 0;
  font-size: 0;
  text-align: left;
  animation: 20s slidy infinite;
}


#films {
  max-width: 80%;
  align-content: start;
}

#films ul {
  width:100%;
  min-width: 350px;
  display: grid;
  grid-template-columns: auto;
  padding: 0;
}

#films ul li {
  display: block;
  width: 100%;
  min-width: 370px;
  max-height: 240px;
  min-height: 110px;
  height:25vh;
  margin-bottom: 15px;
  background-color: rgb(22,22,22);
}

#films ul li article {
  display: grid;
  grid-template-columns: 20% auto 20%;
  min-width: 370px;
  height:100%;
  overflow:hidden;
  align-items: center;
}

.film-affiche {
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}

.film-description {
  text-align: justify;
  max-height: 100%;
  padding: 10px;
  margin: 0 auto;
  overflow:hidden;
  display:block;
}

.film-description h1 {
  display:inline-block;
  text-align:left;
  max-width: 65%;
  margin: 0;
  padding-top: 5px;
}

.film-description a {
  color: rgb(255,15,15);
  float:right;
  margin: 0;
  padding-top: 5px;
  text-decoration: underline;
}

.film-prix {
  margin: 0 auto;
  text-align: center;
  overflow:hidden;
  min-width: 80%;
  height:100%;
}

.prix, .prix-promo {
  font-weight: bold;
}

.prix-promo {
  display:none;
}

p.prix {
  font-size: 1.8rem;
  padding-top:10px;
  margin: auto;
}

.en-promo p.prix {
  font-size: 1.2rem;
  padding:0;
  margin: auto;
  text-decoration: line-through;
}

.en-promo p.prix-promo {
  display: block;
  margin: 5px auto;
  font-size: 2rem;
  color: rgb(255,10,10);
  text-shadow: 0px 0px 3px black;
}

.bloc-prix {
  display:block;
  height:80%;
  padding-top: 20%;
}

.film-prix button {
  border: none;
  color: #DDD;
  text-shadow: 1px 1px 2px black;
  cursor: pointer;
  width:100%;
  height: 2rem;
  position: relative;
  top:0;
  font-size:0.9rem;
  transform: translate(0, -160%);
  background-color: rgb(255,15,15);
}

.film-prix button a {
  text-decoration: none;
  width:100%;
  height:100%;
  color: #DDD;
}

main > h1 {
  width: 80%;
  margin: 20px auto 0 auto;
  padding-bottom: 0;
}

h1 ~ section {
  width: 100%;
}

main > h1 ~ section {
  width: 80%;
  margin: 0 auto 20px auto;
}

/* https://webdevtrick.com/popup-in-pure-css-and-html-get-example-with-source-code/ */

.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  transition: .2s ease-in-out;
}
.popup-inner {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  padding: 10px;
  max-width: 800px;
  max-height: 600px;
  width: 60%;
  height: 40%;
  border-radius: 1rem;
  background-color: rgb(22,22,22);
  box-shadow: 1px 1px 3px black;
  transition: .2s ease-in-out;
}

.popup:target {
  visibility: visible;
  opacity: 1;
}
.popup:target .popup-inner {
  bottom: 0;
  right: 0;
}
.closepopup {
  position: absolute;
  right: -1rem;
  top: -1rem;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1rem;
  font-weight: 300;
  border-radius: 100%;
  background-color: #222;
  box-shadow: -1px 1px 3px black;
  z-index: 4;
  color: #fff;
  line-height: 2.5rem;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.popup-article {
  margin: 10px;
}

.popup-prix {
  font-size: 2rem;
}



/*----------------------------------------------------*/
/*------------------- DEBUT FOOTER -------------------*/
/*----------------------------------------------------*/

footer {
  color: #DDD;
  max-width:100%;
  margin:0;
  background-color: rgb(22,22,22);
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

footer h1 {
  font-size: 1.2rem;
  margin: 0;
  padding-top: 10px;
}

footer address {
  width:60%;
  display:grid;
  grid-template-columns: 70% 30%;
  align-items: center;
  margin: 0 auto;
}

footer section{
  width: 100%;
}

footer p {
  font-size: .8rem;
  margin: 0;
  padding-top: 10px;
  align-items: stretch;
}

footer p img {
  display:inline-block;
  height: 1.6em;
  margin-right: 5px;
  margin-bottom:-.3em;
}

#copyright {
  display:block;
  width:100%;
  text-align: center;
  padding-bottom: 10px;
  color: #999;
  font-size: .8rem;
}

/*----------------------------------------------------*/
/*-------------------- FIN FOOTER --------------------*/
/*----------------------------------------------------*/
