.svg-white{
  filter: invert(100%);
}

.logo {
  background-image: radial-gradient(rgba(255,255,255,1) 20%, rgba(255,255,255,0) 80%);
}

header {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height:4rem;
  font-family: Arial;
  font-size: 1.2em;
  font-weight: bold;
}

nav{
  height:100%;
}

/* menu */
header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgba(30,30,65,0.98);
  height:100%;
  overflow: hidden;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

/* taille de l'icon */
#menu-accueil img, #menu-panier img {
  height:2.8rem;
  margin-right: 0.5rem;
}

header ul li {
  display:flex;
  align-items: center;
  justify-content: space-around;
  width: 22%;
  flex-wrap: wrap;
  overflow:hidden;
  /* border: 1px solid red; */
}

#menu-panier {
  width:10%;
}

header ul li a {
  display: flex;
  align-items: center;
  color: white;
  text-align: center;
  text-decoration: none;
  /* border: 1px solid red; */
}

header ul li a:hover {
  /* color:#EEBB99; */
  text-decoration: underline;
}

#menu-recherche form {
  display:flex;
  justify-content: center;
  width:100%;
}

#menu-recherche form input{
  border: none;
  padding: 6px 6px;
  font-size: 1rem;
  display:block;
  width:80%;
}

#menu-recherche form button{
  border: none;
  cursor: pointer;
  display: block;
  width:20%;
  padding:0;
  background-color: #D3D3D3;
}

#menu-recherche form button:hover{
  background-color: #AAA;
}

#menu-recherche form button img{
  width:100%;
  max-width:1.8rem;
  margin:0;
}

header ~ h1 {
  margin-top: 4rem;
}






/*****************Screen width modif****************/


@media screen and (max-width: 900px) {

  header {
    font-size:1.1em;
    height: 3.8rem;
  }

  header > ul li {
    border: 1px solid red;
  }

  /* taille de l'icon */
  #menu-accueil img, #menu-panier img {
    height:2.4rem;
  }

  #menu-recherche form input{
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 800px) {

  header {
    font-size:1em;
  }

}

@media screen and (max-width: 700px) {

  header {
    font-size:1em;
    height: 14rem;
  }

  header > ul {
    flex-wrap:wrap;
  }

  header > ul li {
    width: 100%;
  }

  /* taille de l'icon */
  #menu-accueil img, #menu-panier img {
    height:2rem;
  }

  header ~ h1 {
    margin-top: 14rem;
  }
}
